@import "tailwindcss";


/* Primary, secondary, accent, tertiary and neutral */
@theme {

  --color-primary: #1E91D6;
  --color-primary-alt: #60a5fa;

  --color-secondary: #484A47;
  --color-secondary-alt: #3C3D3B;

  --color-accent: #E8AC41;
  --color-accent-alt: #D99B34;

  --color-tertiary: #A2D3C2;
  --color-tertiary-alt: #e5e7eb;

  --color-neutral: #ffffff;
  --color-neutral-alt: #f9fafb;
}


/* 
  No Scrolling 
  No Scroll bar on entire site 
*/
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* No scroll for individual elements with overflow */
.scroll-element {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

.scroll-element::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}